{% extends "layout.html" %}
{% block body %}

    <!-- Beginner -->
    <div id="video_ins">
      <video src="{{ url_for('static', filename = 'assets/img/video.mp4' )}}" autoplay loop muted></video>
      <div class="overlay">
        <img src="{{ url_for('static', filename = 'assets/img/over.png' )}}" alt="Image not found" id="front_img">
        <h1 class="heading_class">We deliver what you <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;desire!</h1>
      </div>
      <div class="overlay2">
        <h1 class="heading_class2">NOW INTRODUCING FUTURE <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ORDER SCHEDULING.</h1>
        <br><br>
        <p class="Paraclass">Delivery scheduling allows customers to place an order to be delivered <br> to them in
          the future. The payment should be done in advance; Cash on <br> delivery is not applicable on Future scheduling.
        </p>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <a href="/order">
          <!-- <button type="button" class="btn btn-outline-warning btn-lg btn-dark">Order now!</button> -->
          <button type="button" class="btn btn-outline-light btn-white btn-lg orderbtn">Order now!</button>
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="/futureschedule">
          <button type="button" class="btn btn-outline-light btn-lg schedulebtn">Schedule an Order for future.</button>
        </a>
      </div>
    </div>

    <!-- Features -->
    <div class="container my-2 promotions">
      <h2 class="features_heading">EXTENSIVE FEATURES</h2>
      <div class="row featurette my-5">
        <div class="col-md-7">
          <h2 class="featurette-heading ">PREMIUM MEMBERSHIP</h2>
          <p class="lead">We offer customers premium membership. This premium membership is available
            in 3 types: <br> ->10% for 500rs. <br> ->25% for 800rs. <br> ->50% for 1200rs.
          </p>
          <div class="d-grid gap-2 col-6 mx-auto my-3">
            <a href="/premium">
              <button class="btn btn-primary btn-dark" type="button">Avail now!</button>
            </a>
          </div>
        </div>
        <div class="col-md-5">
          <img src="{{ url_for('static', filename = 'assets/img/premium.jpg' )}}" alt="Not found" class="frontpg">
        </div>
      </div>

      <div class="row featurette my-5">
          <div class="col-md-7 my-5 order-md-2">
            <h2 class="featurette-heading">ORDER TRACKING</h2>
            <p class="lead">We allow the customers to track their order online, along with the rider's details, and
              estimated time.</p>
            
            <div class="d-grid gap-2 col-6 mx-auto my-3">
              <a href="/pretracking">
                <button class="btn btn-primary btn-dark" type="button">Track your order!</button>
              </a>
                <!-- <button class="btn-success cardbtn">Track your order!</button> -->
            </div>
          </div>
          <div class="col-md-5">
            <img src="{{ url_for('static', filename = 'assets/img/tracking.jpg' )}}" alt="Not found" class="frontpg" style="width:90%; height: 110%;">
          </div>
      </div>
    </div>

    <!-- ABOUT US -->
    <div class="container" id="about_us">
      <img src="{{ url_for('static', filename = 'assets/img/aboutus.png' )}}" alt="Not found" class="About_us_pic">
      <h1 class="about_us_heading">About us:</h1>
      <div>
      <p class="abt_us my-4">
        Are you hungry? Did you have a long and stressful day? Interested in getting a cheesy pizza delivered to your office or looking to avoid the weekly shop? Then foodpanda Pakistan is the right destination for you! foodpanda offers you a long and detailed list of the best restaurants and shops near you to help make your everyday easier. Our online food delivery service has it all, whether you fancy Indian, Pakistani or Afghan cuisine, foodpanda Pakistan has over 15,000 restaurants available in top cities like Islamabad, Lahore, Rawalpindi, and Karachi. Did you know you can order your groceries and more from foodpanda, too? Check out foodpanda shops for favourite partners like Al-Fatah, Greenvalley and more. Sit back and relax 
      </p>
    <img src="https://demo3.ltheme.com/wordpress/lt-foodcourt/wp-content/uploads/2019/12/home1-1.jpg" class="attachment-full size-full inside_about my-2" alt="">
    <img src="https://demo3.ltheme.com/wordpress/lt-foodcourt/wp-content/uploads/2019/12/home2-1.jpg" class="attachment-full size-full inside_about2" alt="">
  </div>
    </div>

    </div>
{% endblock %}  