{% extends "layout.html" %}
{% block body %}
<!-- Body -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container view_review_container">
    <div class="view_rating_heading">
        <h1 class="contact_us_heading">USER RATINGS</h1>
        <img src="{{ url_for('static', filename = 'assets/img/over.png' )}}" alt="Cant find image." class="ratings_icon">
    </div>
    <span class="heading">User Rating</span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <p>4.1 average based on 254 reviews.</p>
    <hr style="border:3px solid #f1f1f1">

    <div class="row">
        <div class="side">
            <div>5 star</div>
        </div>
        <div class="middle2">
            <div class="bar-container">
                <div class="bar-5"></div>
            </div>
        </div>
        <div class="side right">
            <div>150</div>
        </div>
        <div class="side">
            <div>4 star</div>
        </div>
        <div class="middle2">
            <div class="bar-container">
                <div class="bar-4"></div>
            </div>
        </div>
        <div class="side right">
            <div>63</div>
        </div>
        <div class="side">
            <div>3 star</div>
        </div>
        <div class="middle2">
            <div class="bar-container">
                <div class="bar-3"></div>
            </div>
        </div>
        <div class="side right">
            <div>15</div>
        </div>
        <div class="side">
            <div>2 star</div>
        </div>
        <div class="middle2">
            <div class="bar-container">
                <div class="bar-2"></div>
            </div>
        </div>
        <div class="side right">
            <div>6</div>
        </div>
        <div class="side">
            <div>1 star</div>
        </div>
        <div class="middle2">
            <div class="bar-container">
                <div class="bar-1"></div>
            </div>
        </div>
        <div class="side right">
            <div>20</div>
        </div>
    </div>

    <br><br><br>
    <span class="view_heading">A few Reviews: </span>
    <br><br>
    <table>
        <tr>
            <th>Customer Name</th>
            <th>Reviews</th>
        </tr>
        {% for r in rev%}
        <tr>
            <td>{{r.cus_name}}</td>
            <td>{{r.review}}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/adminFunctions">
        <button class="btn btn-secondary view_review_btn">Back to Homepage</button>
    </a>
</div>

{% endblock %}